<tr class="line">
  <td><input type="text"
             name="levels[][name]"
             value="<%= @logger_name %>"
             autocomplete="off"
             data-provide="typeahead"
  /></td>
  <td><input type="text"
             name="levels[][level]"
             value="<%= @logger_level %>"
             autocomplete="off"
             data-provide="typeahead"
  /></td>
  <td>
    <a href="#remove" class="remove">Remove</a>
  </td>
</tr>
